{% extends 'voting/layout.html' %}

{% block title %}{{ vote.voting_name }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ vote.voting_name }}</h1>
        <h2>{{ vote.voting_description }}</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% load static %}

        <form action="{% url 'voting:voice' vote.id %}" method="post">
        {% csrf_token %}

            {% for person in person_list %}
                <div class="alert-warning">

                    <input type="radio" name="person" id="person{{ forloop.counter }}" value="{{ person.id }}">
                    <h5><img src="{% static person.photo %}" alt=" {{ person }} " class="leftimg" width="100" height="111">
                        {{ person.surname }} {{ person.name }} {{ person.middle_name }}. {{ person.age }} лет.</h5>

                    <h6>{{person.short_biography}}</h6>
                </div>

            {% endfor %}


        <input type="submit" button class="btn btn-warning" value="Проголосовать!">
        </form>


    </div>
{% endblock %}




