{% extends 'voting/layout.html' %}

{% block title %} Список голосований {% endblock %}

{% block content %}
    <div class="features">
        <h1>Ниже представлено описание голосований</h1>
        {% load static %}

{% if latest_votes_list %}
    <ulnamr>
    {% for vote in latest_votes_list %}
        <div class="alert-warning">
            <h3><a href="{% url 'voting:detail' vote.id %}">{{ vote.voting_name }}</a></h3>
<!--            <h3><li><a href="{% url 'voting:detail' vote.id %}">{{ vote.voting_name }}</a></li></h3>-->
            <p>{{ vote.voting_description }}</p>
            {% if vote.winner != 'Победитель пока не определен. Голосование продолжается.' %}<h5>{{ vote.winner }}</h5>{% endif %}
        </div>
    {% endfor %}
    </ulnamr>
{% else %}
    <p>Голосование недоступно.</p>
{% endif %}


    </div>
{% endblock %}


<!--<div class="alert-warning">-->
<!--                    <h3>{{ el.title }}</h3>-->
<!--                    <p>{{ el.anons }}</p>-->
<!--                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать подробнее</a>-->
<!--                </div>-->


<!--{% load static %}-->
<!--<h1 class="heading">Ниже представлен список голосований</h1>-->

<!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="{% static 'voting/style.css' %}">&ndash;&gt;-->


<!--{% if latest_votes_list %}-->
<!--    <ulnamr>-->
<!--    {% for vote in latest_votes_list %}-->
<!--        <li><a href="{% url 'voting:detail' vote.id %}">{{ vote.voting_name }}</a></li>-->
<!--    {% endfor %}-->
<!--    </ulnamr>-->
<!--{% else %}-->
<!--    <p>Голосование недоступно.</p>-->
<!--{% endif %}-->