body {
    background: url("../IMG/background.png");
    background-size: cover;
}

body main {
        text-align: center;
        color: #fff;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

aside .logo {
    font-size: 40px;
    margin-lift: 10 5px;
    font-weight: bold;
}

aside ul {list-style: none;}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    text-align: center;
    width: 80%;
    margin-top: 60px;
}

main .features h1 {
    font-size: 50px;
    text-align: center;
}

main .features li {
    font-size: 30px;
    text-align: left;
    margin: 30px 35%;
}

main .features h5 {
    font-size: 35px;
    text-align: center;
    color: #DC143C
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}


.alert-warning {
    float: left;
    clear: both;
    width: 1000px;
    margin: 30px 18%;
    text-align: left;
}

.alert-warning h3 {
    text-align: center;
}

ulnamr .alert-warning h5 {
    font-size: 150%;
    text-align: center;
    color: #DC143C;
}

form {
    margin-left: 0%;
    width: 600px;
    margin-top: 50px;
}

.leftimg {
    float:left;
    margin: 7px 7px 7px 0;
    width: 100px
    height: 111px
   }